# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# VSCode settings
.vscode/

# Flask and deployment
instance/
*.log
*.db
*.sqlite
/tmp/